function addNewBookmark(postHTML) {
  const newPost = document.getElementByClassName('recomendation-card');
  addNewBookmark.insertAdjacentHTML('afterbegin', postHTML);
};

if(@page == "home") {
  bookmarkIcon = document.getElementById('movie-<%= @movie.id %>')
  bookmarkIcon.innerHTML = '<span class="modal-reco ">Bookmarked</span>';
} else {
  bookmarkIcon = document.getElementById('movie-<%= @movie.id %>')
  bookmarkIcon.innerHTML = '<i class="far fa-check-circle"></i>';
}

