// .banner {
//   background-size: cover;
//   background-position: center;
//   height: 300px;
//   margin-bottom: 20px;
//   h1 {
//     transform: translateY(35px) rotate(4deg);
//     text-shadow: 3px 2px rgba(0, 0, 0, 0.3);
//     font-size: 45px;
//     font-family: 'Yellowtail', cursive;



.cinema-img{

  background: linear-gradient(130.62deg, #e6b3cd 9.56%, #efebc6 92.35%);
  border-radius: 25px;
  display: flex;
  height: 334px;
  // align-items: flex-start;

  h1{

    margin: 40px;
    color: white;
    padding: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 50px;

  }

  img{
    // position: relative;
    // top: 5px;
    border-radius: 5px;
    align-self: center;
    // right: -282px;
    // height: 282px;
    width: 590px;
    margin-bottom: 57px;
   }



}
.card-product-movies {

  display: flex;
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

  height: 250px;

  margin: 10px;
  margin-bottom: 12px;
  // margin-right: 100px;
  position: relative;

  img {
    width: 130px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: -40px;


  }
  .card-product-infos-movies {
    padding: 16px;
    text-align: left;
    margin: auto auto;
    height: fit-content;
  }

  div.card-product-infos-movies i {
  color: rgb(241, 197, 87);
  padding: 20px;
  font-size: 2em;
  }

 //  &:hover{
 //      transition-delay: .5s;
 //      height: 200px;
 //      width: 470px;
 // }
}

// .btn-blue {
//     background-color: #FFDF6D;
//     padding: 10px 20px;
//     border-radius: 10px;
//   }

//   .btn-blue:hover {
//     background-color: #FFDF6D;
// }

.movie-grid {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 64px
}


.bookmark-icon{
  width: 20px !important;
  position: absolute;
  top: 8px;
  right: 8px;
  }

.recommend-btn {
  background-color: transparent;
  border: 2px solid rgb(241, 197, 87);
  border-radius: 21px;
  margin: 5px;
  padding: 6px 16px;
  color: #f1c557;

  &:hover {

    color: #f1c557;
    text-decoration: none;
  }
}

#storyline-movies {
  font-size: 12px;
}

.container {


}




