.card-product-profile {
  overflow: hidden;
  min-height: 120px;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 15px auto;
  paddinf-top: 10px;
  width: 60vw;
}

.card-product-profile img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin: 20px;
  border-radius: 10px;
}

.card-product-profile h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

.card-product-profile p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0px;
  margin-top: 8px;
}

.card-product-profile .card-product-infos-profile {
  padding: 16px;
}

.card-product-infos-profile {
  flex: 1;
}

.container_reco {
  margin: 0 auto;
}

#follow {
  margin-top: 40px;
}

.Movie_icone {
  font-size: 10px;
}

.profile_pic{
  width: 200px;
  object-fit: fill;
  border-radius: 50%;
}

.tag {
  color: #f4b004;
  background-color: #f7eccf;
  border: 1px solid #f7eccf;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 150px;
  text-align: center;
  margin: 5px;
}

.tags {
  display: flex;
}

#container_profile_card_my_profile {
  background: linear-gradient(112.46deg, #FFFFCC 5.43%, #F8CF61 95.15%);
  border-radius: 25px;
  width: 80vw;
  height: 120px;
  margin-top: 0vw;
  margin: 0 auto;
  color: white;

}

#text_profile_card {
  padding-left: 389px;
}

#profile_name {
  padding-top: 25px;
  font-size: 45px;
  line-height: 41px;
}

#profile_bio {
  padding-top: 25px;
  font-size: 25px;
  color: black;
}

.social {
  font-size: 15px;
  color: black;
}

#white_background {
background: white;
border-radius: 52px;
width: 80vw;
height: 130px;
margin-top: -30px;
margin-left: 140px;
}

#avatar_profile {
  position: absolute;
  margin-top: -190px;
  margin-left: 250px;
}

#avatar_profile img {
  border-radius: 100px;
  height: 100%;
  width: 170px;
  object-fit: cover;
}

#edit_profile_button_new {
  margin-top: 210px;
}

#follow_or_not {
  margin-top: -200px;
  margin-left: 650px;
}

#follow {
  border-radius: 15px;
  color: white;
  background-color: rgba(0,0,0,0);
  border: 2px solid white;
}


#container_search_border {
  width: 60vw;
  height: 80px;
  margin-top: 0px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 15px;


}

#container_search {
  width: 60vw;
  height: 60px;
  margin-top: 0px;
  margin-left: 0px;
}

.tabs-underlined {
  display: flex;
  align-items: center;
}

.nav-link active .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.nav-link .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

#search_profile {
  padding: 20px;
}

#search_profile .form-control{
  border-radius: 5px;
  width: 650px;
}


#button-submit-search-reco {
  margin-top: -45px;
  margin-left: 700px;

  input {
    background-color: white;
    color: #f9d269;
    border-radius: 50%;
    border: 2px solid #f9d269;
    font-size: 30px;
  }
}

#button-submit-search-reco-tag {
  margin-top: -35px;
  margin-left: 700px;

  input {
    background-color: white;
    color: #f9d269;
    border-radius: 25px;
    border: 2px solid #f9d269;
    font-size: 20px;
  }
}

#search_profile .input {
  color: red;
}

#movie-title-profile {
  font-size: 30px;
}

#has-reco {
  font-size: 20px;
  margin-bottom: 10px;
}

#add_a_tag {
  color: #f4b004;
  border: 1px solid white;
  padding: 8px 10px;
  font-weight: lighter;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#add_a_tag:hover {
  opacity: 1;
}

#add_a_tag .a:hover {
  color: #f4b004;
}

#container_tabs {
  width: 60vw;
  height: 60px;
  margin-top: 70px;
  margin: 20px auto;
  padding-top: 19px;
}

#home-tab {
  background-color: white;
}

#myTab {
  border: 1px solid white;
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
}

#profile-tab {
  background-color: white;
}

#add_a_tag_delete  {
  background-color: white;
  border: 1px solid white;
  font-size: 15px;
}

a:link {
  text-decoration: none;
}

#links {
  background-color: white;

  ul {
    display: stretch-flex;
    list-style-type: none;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: center;
  }
  img {
    margin: 0px;
  }

  .imdb {
    margin-top: 13px;
  }

}

.card-product-profile {

  a {
    color: grey;
    opacity: .98;
    transition: opacity 0.3s ease;
  }

  a:hover {
    color: #f8cf61;
    transition: opacity 0.3s ease;
  }

}

#container_master_my_profile {
    margin-top: 50px;
  }

#right-info-bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
.right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

#bookmark-from-friends {
  margin-top: 50px;

   a {
    color: #F9D269;
    height: 20px;
    widht: 20px;
    border: 1px solid #F9D269;
    padding: 16px;
    border-radius: 50px;

  }

  a:hover {
    color: #F9D269;
    opacity: 0.3;
  }
}
