<h1>List of movies</h1>
<% @movies.each do |movie| %>
  <%#= movie.title %>
  <%#= movie.description %>
  <%#= movie.genre %>
  <%#= movie.year %>
   <div class="card-product-profile">
     <img src="<%= movie.picture_url %>" />
     <div class="card-product-infos-profile">
       <h2 ><%= movie.title %></h2>
       <p><%= movie.description %></p>
       <p class="Movie_icone"> IMDB NETFLIX AMAZON PRIME</p>
     </div>
   </div>
<% end %>


