<div class="footer d-flex align-items-center justify-content-between">

<%= cl_image_tag "https://res.cloudinary.com/dtjblav7i/image/upload/v1574871295/bookmark_new_Logo_1_dwwfxe.png" %>

<div class="about-info">
  <h3 style="font-weight: bold;">About</h3>
  <h3>Careers</h3>
  <h3>Team</h3>
  <h3>Privacy</h3>
</div>

<div class="social-info">
  <h3 style="font-weight: bold;">Social</h3>
  <h3>Facebook</h3>
  <h3>Instagram</h3>
  <h3>Twitter</h3>
</div>

</div>

