<div class="container">
  <br>
  <h1 align="center" style = "font-weight: 500; color: rgb(205, 206, 200);">Trends</h1>
  <br>
  <br>
  <h2 style="margin-left: 202px; font-weight: 500; color: rgb(205, 206, 200)">Movies</h2>


<ul class="items">
  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/orangeisthenewblack.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Orange is the new black</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/uglybetty.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Ugly Betty</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/big.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Big</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/apprentice.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>The Apprentice</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/veep.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Veep</h2>
      </div>
    </a>
  </li>
  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/orangeisthenewblack.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Orange is the new black</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/uglybetty.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Ugly Betty</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/big.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Big</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/apprentice.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>The Apprentice</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/veep.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Veep</h2>
      </div>
    </a>
  </li>
  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/orangeisthenewblack.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Orange is the new black</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/uglybetty.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Ugly Betty</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/big.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Big</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/apprentice.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>The Apprentice</h2>
      </div>
    </a>
  </li>

  <li>
    <div class="bg-img" style="background-image: url('http://lewihussey.com/codepen-img/veep.jpg');"></div>
    <a href="#">
      <div class="content">
        <h2>Veep</h2>
      </div>
    </a>
  </li>
</ul>




</div>
