function refreshForm(innerHTML) {
  const newTagForm = document.querySelector('tag_name');
  newTagForm.innerHTML = innerHTML;
}

function addTag(newTag) {
  const tags = document.querySelector('.tags_<%= @recommendation.id %>');
  tags.insertAdjacentHTML('beforeend', newTag);
}


newTag = "<div class='tag'><%= @tag.name %></div>"
addTag(newTag);
