.friend-card {
  width: 682px;
  height: 134px;
  border-bottom: solid 1.3px rgba(0,0,0,0.08);
  margin: 0 auto;
  position:relative;

  a{
    text-decoration: none;
    color: black;
  }

  .linktoedit{
    position: absolute;
    right: 10px;
    top: 70px;

  }

  .icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
  }

  .friend-information{
    margin-left: 37px;
  }

  .friend-card-avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;

  }

}


.recomendation-card{
  border: 1px solid #C4C4C4;
  border-radius: 22px;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-left: 10px;

  img{
    margin-right: 11px;
  }

  h3{
    font-weight: bold;
    font-size: 13px;
  }
  p{
    font-size: 13px;
    font-weight: 200;
  }
  .green{
    color: #82B5A5;
    font-weight: normal;
    font-size: 13px;
  }

  .recommendation-card-avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.recommendations-title-box{
  width: 1110px;
  height: 113px;
  background: linear-gradient(130.62deg, #F8CF61 9.56%, #FFFFCC 92.35%);
  border-radius: 25px;
  margin-bottom: 25px;

  h2{
    font-weight: bold;
    font-size: 28px;
    color:white;
  }
}



.tag-card{
  background-color: rgba(159, 191, 255, 0.4);
  font-size: 13px;
  margin-bottom:15px;
  border-radius: 2px;
  color: rgba(159, 191, 255, 0.6);
}


.lets-go {
  background: linear-gradient(130.62deg, #F8CF61 9.56%, #FFFFCC 92.35%);
  border-radius: 25px;
  display: flex;
  img {
    position: relative;
    top: -35px;
    right: -26px;
  }

  h3{
    color: white;
    padding: 40px;
  }

}

.lets-go-button{
  border: 1px solid #FFFFFF !important;
  box-sizing: border-box !important;
  border-radius: 25px !important;
  width: 100px !important;
  height: 50px !important;
  text-align: center !important;
  color: white !important;
  padding-top:11px !important;
  margin-left: 42px !important;
  font-weight: bold !important;
}

.home-sign-up-box{
 width: 1092px;
  height: 504px;
  background: #F8CF61;
  border-radius: 25px;
  margin: auto;
  label{
    color: white !important; // some color
  }
}

.home-form-inputs{
  width: 380px;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  margin: auto;

  }

  .three-box-container{
    width: max !important;
    margin-top: 30px;
    height: 481px;
    color: white;

    p {
      font-size: 20px;
      margin-top: 263px;
    }

    .grey-1{
      text-align: center;
      width: 33%;
      background: rgba(196, 196, 196, 0.57);
    }
    .grey-2{
      text-align: center;
      width: 33%;
      background: rgba(196, 196, 196, 0.57);
    }
    .yellow{
      text-align: center;
      width: 33%;
      background: #F8CF61
    }
  }

.footer{

  h3{
    font-size: 16px;
  }
  .social-info{
  margin-right:110px;
}
}
