.carousel {
  margin: 0 auto;
  width: 100%;
  display:flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  i {
    cursor: pointer;
  }
  .slick-slide {
    margin: 35px auto !important;
    &:focus, &:active, &:visited, div:focus, div:active, div:visited, a:focus, a:active, a:visited {
      outline: none !important;
    }
    display: flex !important;
    justify-content: center !important;
    .movie-picture {
      width: 90% !important;
      height: 300px !important;
      object-fit: cover;
      object-position: center;
      margin: 0 auto;
    }
  }
  .nav-arrows {
    font-size: 23px;
    margin: 0 10px;
  }
  .slick-list {
    width: 100%;
  }
}
