.modal-head{
  background-color: #fdda7c;
}

.footer-modal{
  background-color: #fdda7c;
}

.info-modal{
  h2{
    font-family: 'Bebas Neue', cursive;
  }
}

.modal-reco{
 color: black!important;

 &:hover{
 border-color: rgba(255,255,255,1);
}
}
